<!Doctype html>
<head>
    <title>Cloud Inventory Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
	#body {
		min-height: 700px;
		width:100%;
		background-image: url("static/accounts/stock.png");
	}
    #form-row{
        padding-left: 28.5%;
    }
    #submit-button-row{
        padding-top:1em;
    }



    </style>
</head>

<body id="body">
<div class="w3-container w3-indigo">

    <div class="w3-row" style="padding-bottom:1em;">
        <div class="w3-col l12 w3-center">
            <h2>Cloud Inventory</h2>
        </div>
    </div>

    <div class="w3-row" style="padding-bottom:2em;">
        <h3 class="w3-center">Stock Management System</h3>
    </div>


    <div class="w3-row">
        <div class="w3-container w3-col l9">
            <p class = "w3-text-white">{{ error_msg }}</p>
        </div>
    </div>

    <form class="w3-container" action="{% url 'accounts:login_user' %}" method="post">
        <div class = "w3-row " id = "form-row">
         {% csrf_token %}
            <div class = "w3-container w3-col l4">
                <label>Username </label> <br>
                <input type = "text" name = "username" placeholder = "Username"/>
            </div>

            <div class = "w3-container w3-col l4">
                <label>Password </label> <br>
                <input id = "password" type = "password" class = "validate" name = "password" placeholder = "Password"/>
            </div>
             
        </div>

        <div class="w3-row" id = "submit-button-row">
           <div class = "w3-center">
                <button class="w3-button w3-teal" type="submit">Login</button>
            </div>
        </div>

    </form>

    {% block body %}

    {% endblock %}
</div>
</body>
</html>