{% extends 'product/base.html' %}
{% block body %}


{% if search %}
<table class="w3-table-all w3-card-4">

    <tr>
        <th>Name</th>
        <th>Date Received</th>
        <th>Barcode</th>
        <th>Category</th>
        <th>Stock Status</th>
        <th>Product Price</th>
    </tr>
    <tr>
        {% for product in search %}
        <td>{{ product.product_name }}</td>
        <td>{{ product.product_date }}</td>
        <td>{{ product.product_barcode }}</td>
        <td>{{ product.category_type }}</td>
        <td>{% if product.product_stock %}
            In Stock
            {% else %}
            Out of Stock
            {% endif %}
        </td>
        <td>{{ product.product_price }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div class="w3-center">
    <p>Barcode Not Found </p>
</div>
{% endif %}


{% endblock %}