{% extends 'product/base.html' %}
{% block title %}In Stock{% endblock %}

{% block body %}
<table class="w3-table-all w3-card-4">

    <tr>
        <th>Name</th>
        <th>Date Received</th>
        <th>Category</th>
        <th>Barcode</th>
        <th>Stock Status</th>
        <th>Update Stock Status</th>
    </tr>
    <tr>
        {% for product in products_in_stock %}
        <td>{{ product.product_name }}</td>
        <td>{{ product.product_date }}</td>
        <td>{{ product.category_type }}</td>
        <td>{{ product.product_barcode }}</td>
        <td>{% if product.product_stock %}
                In Stock
            {% else %}
                Out of Stock
            {% endif %}
        </td>
        <td>
            <div class="w3-row">
                <div class="w3-col l7">
                    <select class="w3-select w3-small" name="option">
                        <option value="" disabled selected>Change Stock Status</option>
                        <option value="1">In stock</option>
                        <option value="2">Out of Stock</option>
                    </select>
                </div>
                <div class="w3-col l5">
                    <div class="w3-show-inline-block">
                        <div class="w3-bar" style="padding-left:6px;">
                            <button class="w3-bar-item w3-button w3-teal w3-small w3-padding-small">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}


</table>
{% endblock %}