{% extends "product/base.html" %}
{% block title %}Products {% endblock %}

{% block body %}

<!-- products data in a table-->
<table class="w3-table-all w3-card-4">

    <tr>
        <th>Name</th>
        <th>Date Received</th>
        <th>Category</th>
        <th>Barcode</th>
        <th>Quantity</th>
        <th>Stock Status</th>
        <th>Product Price</th>
    </tr>
    <tr>
        {% for product in products_data %}
        <td>{{ product.product_name }}</td>
        <td>{{ product.product_date }}</td>
        <td>{{ product.category_type }}</td>
        <td>{{ product.product_barcode }}</td>
        <td> {{ product.product_count }}</td>
        <td>{% if product.product_stock %}
            In Stock
            {% else %}
            Out of Stock
            {% endif %}
        </td>
        <td>{{ product.product_price }}</td>
    </tr>
    {% endfor %}


</table>


{% endblock %}





































































