{% extends "product/base.html" %}
{% block title %}Products {% endblock %}

{% block body %}

<!-- products data in a table-->
<table class="w3-table-all w3-card-4">

    <tr>
        <th>Name</th>
        <th>Date Received</th>
        <th>Category</th>
        <th>Barcode</th>
        <th>Stock Status</th>
    </tr>
    <tr>
        {% for product in products_data %}
        <td>{{ product.product_name }}</td>
        <td>{{ product.product_date }}</td>
        <td>{{ product.category_type }}</td>
        <td>{{ product.product_barcode }}</td>
        <td>{{ product.product_stock }}</td>
    </tr>
    {% endfor %}


</table>


<script>
function myFunction() {
    var x = document.getElementById("demo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}




</script>


{% endblock %}





































































