{% extends 'product/base.html' %}
{% block title %} Out of Stock {% endblock %}

{% block body %}
<table class="w3-table-all w3-card-4">

    <tr>
        <th>Name</th>
        <th>Date Received</th>
        <th>Category</th>
        <th>Barcode</th>
        <th>Quantity</th>
        <th>Product Price</th>
    </tr>
    <tr>
        {% for product in products %}
        <td>{{ product.product_name }}</td>
        <td>{{ product.product_date }}</td>
        <td>{{ product.category_type }}</td>
        <td>{{ product.product_barcode }}</td>
        <td> {{ product.product_count }}</td>
        <td> {{ product.product_price }}</td>


    </tr>
    {% endfor %}


</table>
<div class="w3-center">
    <div class="w3-bar w3-large">
        <div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
        <a href="?page={{ products.previous_page_number }}" class="w3-button w3-hover-teal">previous</a>
        {% endif %}
    </span>

    <span class="current">
        Page {{ products.number }} of {{ products.paginator.num_pages }}
    </span>
            <span>
    {% if products.has_next %}
    <a href="?page={{ products.next_page_number }}" class="w3-hover-blue">next</a>
    {% endif %}
    </span>
        </div>
    </div>
</div>

{% endblock %}